h1 {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 1em;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 0.5em;
    font-size: 1.2em;
    border: none;
    border-bottom: 2px solid #ccc;
    box-shadow: none;
    outline: none;
    transition: border-bottom-color 0.3s ease;
  }
  
  input[type="text"]:focus {
    border-bottom-color: #0077cc;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    font-size: 1.5em;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
  }
  
  li:last-child {
    border-bottom: none;
  }
  