.App {
  margin: 50px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 50%;
}

.emojis {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.emoji {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  height: 100px;
}

.emoji-icon {
  font-size: 4rem;
}

.emoji-info {
  margin-left: 20px;
  text-align: left;
}

.emoji-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.emoji-keywords {
  font-size: 1rem;
  color: #666;
}
